.header {
  background-image: url("../../Assets/Group\ 781.png");
  background-size: cover;
  height: 35vh;
  width: 100% !important;
  z-index: 1030;
}

.header-content {
  color: #fff !important;
  height: 100%;
  align-items: center;
  text-align: center;
}

.header span {
  font-size: 35px;
}

.header-img {
  width: 165px;
}

.currency {
  font-size: 25px;
}

.img-cont {
  text-align: right;
}

@media (max-width: 992px) and (min-width: 768px) {
  .header span {
    font-size: 25px;
  }
  .header h3 {
    font-size: 25px;
  }
}

@media (max-width: 768px) and (min-width: 530px) {
  .header span {
    font-size: 20px;
  }
  .header h3 {
    font-size: 20px;
  }
  .img-cont {
    text-align: center;
  }
  .header {
    height: 50vh;
  }
}

@media (max-width: 529px) and (min-width: 425px) {
  .header span {
    font-size: 20px;
  }
  .header h3 {
    font-size: 20px;
  }
  .header {
    height: 50vh;
  }
  .img-cont {
    text-align: center;
  }
}

@media (max-width: 424px) and (min-width: 220px) {
  .header span {
    font-size: 20px;
  }
  .header h3 {
    font-size: 20px;
  }

  /* .header-content {
    flex-direction: column;
    justify-content: start;
  } */
  .img-cont {
    text-align: center;
  }

  .header {
    height: 50vh;
  }
}
